$primary-color: #28a745;
$primary-color-dark: #1e9239;

// $color-c2: #005f58;
$color-c2: #00837b;
$bg-color-light-1: #fff;
$bg-color-light-2: #d9dbe3;
$bg-color-dark-1: #1a1a1c;
$bg-color-dark-2: #242527;