$primary-color: #28a745;
$primary-color-dark: #1e9239;

// $color-c2: #005f58;
$color-hsk-1: #f8b51e;
$color-hsk-2: #267f94;
$color-hsk-3: #fd4f1c;
$color-hsk-4: #bb1718;
$color-hsk-5: #1b3e76;
$color-hsk-6: #6a3669;

$color-pre-a1: #b51700;
$color-a1: #0076ba;
$color-a2: #00882b;
$color-b1: #8133af;
$color-b2: #883b4a;
$color-c1: #175198;
$color-c2: #00837b;
$bg-color-light-1: #fff;
$bg-color-light-2: #eee;
$bg-color-light-3: #d9dbe3;
$bg-color-light-4: #cdcfd9;
$bg-color-dark-1: #1a1a1c;
$bg-color-dark-2: #242527;
$bg-color-dark-3: #333;
$bg-color-dark-4: #444;
$bg-color-dark-5: #555;

$text-color-on-dark: $bg-color-light-1;

$text-color-on-light: $bg-color-dark-3;

