.small-star {
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
  color: #666;
  font-size: 0.7rem;
  margin: 0;
}

@font-face {
  font-family: "Klingon pIqaD HaSta";
  src: url("/fonts/Klingon-pIqaD-HaSta.ttf") format("truetype");
}

.klingon {
  font-family: Constructium, Unifont CSUR, Klingon pIqaD HaSta, Code2000, Horta;
  font-size: 2rem;
}

html * {
  font-family: "Lato", Helvetica, sans-serif;
}

body {
  color: #666;
}

.main {
  min-height: calc(100vh - 30rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  font-family: "Lato";
}

.results-1,
.results-2 {
  padding: 1rem 0;
}

.shadowed {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.link-unstyled,
.link-unstyled:hover {
  color: inherit;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 1.5rem;
  margin: 1rem;
  flex: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  min-width: 20rem;
}

.book-thumb {
  height: 10rem;
}

.aspect-wrapper {
  padding-bottom: 56.25%;
  position: relative;
}

.eight-to-nine-aspect-wrapper {
  padding-bottom: 88%;
  position: relative;
}

.aspect {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.media {
  width: 100%;
  display: block;
  overflow: hidden;
}

.media-body {
  padding: 1.5rem;
}

.noun {
  color: #5c9258;
}

.adjective {
  color: #885b9a;
}

.verb {
  color: #ad8e57;
}

.top-bar {
  background-color: #3a3a3a;
  color: white;
}

.top-bar a {
  color: #fd5112;
  font-weight: bold;
  text-decoration: underline;
}

.declined-word {
  box-shadow: 0.3rem 0.3rem 1rem #0000003b;
  margin: 1.6rem 0;
  border-radius: 0.5rem;
  position: relative;
}

.declined-word-inner {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.hint {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #f1f1f1;
  color: #9a9a9a;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.example-image-wrapper {
  flex: 1;
  text-align: center;
  margin-right: 2rem;
}

.example-wrapper {
  flex: 3;
}

.example-translation {
  color: #999;
}

.blank {
  background: #596394;
  padding: 0.1rem 0.4rem;
  color: white;
  border-radius: 0.2rem;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.blank.answered {
  background: #5a9459;
}

.transparent {
  visibility: hidden;
}

.answer {
  position: absolute;
  left: 0.4rem;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.hidden {
  display: none;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

[data-case] {
  background-color: #e4e4e4;
  position: relative;
}

[data-case*="nominative"] {
  background-color: #fff0c2;
}

[data-case*="genitive"] {
  background-color: #e6ffc2;
}

[data-case*="dative"] {
  background-color: #c2f3ff;
}

[data-case*="accusative"] {
  background-color: #ffd6d6;
}

[data-case*="instrumental"] {
  background-color: #d0f7f3;
}

[data-case*="prepositional"] {
  background-color: #dbe4fb;
}

[data-case*="locative"] {
  background-color: #fac2ff;
}

.popup {
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  background: white;
  top: 1.2rem;
  left: 0;
  z-index: 1;
}

#legend div {
  display: inline-block;
  padding: 0 0.5rem;
}

#analyzed {
  overflow: visible;
}

.word-block-dictionary {
  display: none;
}

.show-level-1 .word-block-dictionary[data-level="PreA1"]:not(.seen),
.show-level-1 .word-block-dictionary[data-level="Pre-A1"]:not(.seen),
.show-level-2 .word-block-dictionary[data-level="A1"]:not(.seen),
.show-level-3 .word-block-dictionary[data-level="A2"]:not(.seen),
.show-level-4 .word-block-dictionary[data-level="B1"]:not(.seen),
.show-level-5 .word-block-dictionary[data-level="B2"]:not(.seen),
.show-level-6 .word-block-dictionary[data-level="C1"]:not(.seen),
.show-level-outside .word-block-dictionary[data-level="C2"]:not(.seen):not(.common) {
  display: inline;
  color: #838888 !important;
}

.levelPreA1,
[data-level="PreA1"],
[data-level="Pre-A1"],
[data-hover-level="Pre-A1"]:hover,
[data-hover-level="Pre-A1"].saved {
  color: #b51700 !important;
}

.levelA1,
[data-level="A1"],
[data-hover-level="A1"]:hover,
[data-hover-level="A1"].saved {
  color: #0076ba !important;
}

.levelA2,
[data-level="A2"],
[data-hover-level="A2"]:hover,
[data-hover-level="A2"].saved {
  color: #00882b !important;
}

.levelB1,
[data-level="B1"],
[data-hover-level="B1"]:hover,
[data-hover-level="B1"].saved {
  color: #6a348a !important;
}

.levelB2,
[data-level="B2"],
[data-hover-level="B2"]:hover,
[data-hover-level="B2"].saved {
  color: #5b0516 !important;
}

.levelC1,
[data-level="C1"],
[data-hover-level="C1"]:hover,
[data-hover-level="C1"].saved {
  color: #011b3c !important;
}

.levelC2,
[data-level="C2"],
[data-hover-level="C2"]:hover,
[data-hover-level="C2"].saved {
  color: #005f58 !important;
}

.leveloutside,
[data-level="outside"],
[data-hover-level="outside"]:hover,
[data-hover-level="outside"].saved {
  color: #c59f94 !important;
}

.bg-levelPreA1,
[data-bg-level="PreA1"],
[data-bg-level="Pre-A1"] {
  background-color: #b51700 !important;
  color: white !important;
}

.bg-levelA1,
[data-bg-level="A1"] {
  background-color: #0076ba !important;
  color: white !important;
}

.bg-levelA2,
[data-bg-level="A2"] {
  background-color: #00882b !important;
  color: white !important;
}

.bg-levelB1,
[data-bg-level="B1"] {
  background-color: #6a348a !important;
  color: white !important;
}

.bg-levelB2,
[data-bg-level="B2"] {
  background-color: #5b0516 !important;
  color: white !important;
}

.bg-levelC1,
[data-bg-level="C1"] {
  background-color: #011b3c !important;
  color: white !important;
}

.bg-levelC2,
[data-bg-level="C2"] {
  background-color: #005f58 !important;
  color: white !important;
}

.bg-leveloutside,
[data-bg-level="outside"] {
  background-color: #c59f94 !important;
  color: white !important;
}

.l2-zh .word-block-dictionary {
  display: none;
}

.l2-zh .show-level-1 .word-block-dictionary[data-level="1"]:not(.seen),
.l2-zh .show-level-2 .word-block-dictionary[data-level="2"]:not(.seen),
.l2-zh .show-level-3 .word-block-dictionary[data-level="3"]:not(.seen),
.l2-zh .show-level-4 .word-block-dictionary[data-level="4"]:not(.seen),
.l2-zh .show-level-5 .word-block-dictionary[data-level="5"]:not(.seen),
.l2-zh .show-level-6 .word-block-dictionary[data-level="6"]:not(.seen),
.l2-zh .show-level-outside .word-block-dictionary[data-level="outside"]:not(.seen):not(.common) {
  display: inline;
  color: inherit !important;
}

.l2-zh .level1,
.l2-zh [data-level="1"],
.l2-zh [data-hover-level="1"]:hover,
.l2-zh [data-hover-level="1"].saved,
.l2-zh .show-level-1 [data-hover-level="1"].sticky:not(.seen) {
  color: #f8b51e !important;
}

.l2-zh .level2,
.l2-zh [data-level="2"],
.l2-zh [data-hover-level="2"]:hover,
.l2-zh [data-hover-level="2"].saved,
.l2-zh .show-level-2 [data-hover-level="2"].sticky:not(.seen) {
  color: #267f94 !important;
}

.l2-zh .level3,
.l2-zh [data-level="3"],
.l2-zh [data-hover-level="3"]:hover,
.l2-zh [data-hover-level="3"].saved,
.l2-zh .show-level-3 [data-hover-level="3"].sticky:not(.seen) {
  color: #fd4f1c !important;
}

.l2-zh .level4,
.l2-zh [data-level="4"],
.l2-zh [data-hover-level="4"]:hover,
.l2-zh [data-hover-level="4"].saved,
.l2-zh .show-level-4 [data-hover-level="4"].sticky:not(.seen) {
  color: #bb1718 !important;
}

.l2-zh .level5,
.l2-zh [data-level="5"],
.l2-zh [data-hover-level="5"]:hover,
.l2-zh [data-hover-level="5"].saved,
.l2-zh .show-level-5 [data-hover-level="5"].sticky:not(.seen) {
  color: #1b3e76 !important;
}

.l2-zh .level6,
.l2-zh [data-level="6"],
.l2-zh [data-hover-level="6"]:hover,
.l2-zh [data-hover-level="6"].saved,
.l2-zh .show-level-6 [data-hover-level="6"].sticky:not(.seen) {
  color: #6a3669 !important;
}

.l2-zh .level7-9,
.l2-zh [data-level="7-9"],
.l2-zh [data-hover-level="7-9"]:hover,
.l2-zh [data-hover-level="7-9"].saved,
.l2-zh .show-level-7-9 [data-hover-level="7-9"].sticky:not(.seen) {
  color: #005f58 !important;
}

.l2-zh .leveloutside,
.l2-zh [data-level="outside"],
.l2-zh [data-hover-level="outside"]:hover,
.l2-zh [data-hover-level="outside"].saved,
.l2-zh .show-level-7 [data-hover-level="outside"].sticky:not(.seen):not(.common) {
  color: #c59f94 !important;
}

.l2-zh .bg-level1,
.l2-zh [data-bg-level="1"] {
  background-color: #f8b51e !important;
  color: white !important;
}

.l2-zh .bg-level2,
.l2-zh [data-bg-level="2"] {
  background-color: #267f94 !important;
  color: white !important;
}

.l2-zh .bg-level3,
.l2-zh [data-bg-level="3"] {
  background-color: #fd4f1c !important;
  color: white !important;
}

.l2-zh .bg-level4,
.l2-zh [data-bg-level="4"] {
  background-color: #bb1718 !important;
  color: white !important;
}

.l2-zh .bg-level5,
.l2-zh [data-bg-level="5"] {
  background-color: #1b3e76 !important;
  color: white !important;
}

.l2-zh .bg-level6,
.l2-zh [data-bg-level="6"] {
  background-color: #6a3669 !important;
  color: white !important;
}

.l2-zh .bg-level7-9,
.l2-zh [data-bg-level="7-9"] {
  background-color: #005f58 !important;
  color: white !important;
}

.l2-zh .bg-leveloutside,
.l2-zh [data-bg-level="outside"] {
  background-color: #c59f94 !important;
  color: white !important;
}

.widget {
  box-shadow: 0px 5px 30px #203c4433;
  border-radius: 0.3rem;
  overflow: hidden;
  background: #f6f6f6;
  .widget-title {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #2b3f44b0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(180deg, #dcdcdc 0%, #dcdcdc00 100%);
  }
  .widget-body {
    /* background: #f2f2f2; */
    border-radius: 0 0 0.3rem 0.3rem;
  }
  &.widget-dark {
    background: black;
    color: rgba(255, 255, 255, 0.8);
    .widget-title {
      background-image: linear-gradient(180deg, #ffffff4b 0%, #ffffff00 100%);
      color: #ffffffc5;
    }
    .quick-access-buttons {
      background: none;
    }
  }
}

.logo-small {
  max-width: 6rem;
  max-height: 3rem;
}

.highlight {
  font-weight: bold;
}

ul.collapsed li:nth-child(n + 5) {
  display: none;
}

ul.collapse-4.collapsed li:nth-child(-n + 4) {
  display: inherit;
}

ul.collapse-5.collapsed li:nth-child(-n + 5) {
  display: inherit;
}

ul.collapse-6.collapsed li:nth-child(-n + 6) {
  display: inherit;
}

ul.collapse-7.collapsed li:nth-child(-n + 7) {
  display: inherit;
}

ul.collapse-8.collapsed li:nth-child(-n + 8) {
  display: inherit;
}

ul.collapse-9.collapsed li:nth-child(-n + 9) {
  display: inherit;
}

ul.collapse-10.collapsed li:nth-child(-n + 10) {
  display: inherit !important;
}

.booklist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.booklist-item {
  flex: 1;
  min-width: 10rem;
  margin: 1rem;
  border-radius: 0.3rem;
}

.booklist-item-thumb {
  width: 5rem;
  height: calc(5rem * 1.33);
  display: inline-block;
}

.big-word {
  font-size: 3rem;
  font-weight: bold;
}

#zerotohero:not(.show-simplified) .simplified,
#zerotohero:not(.show-traditional) .traditional {
  display: none;
}

.text-primary {
  color: #fd4f1c !important;
}

.bg-primary,
a.bg-primary:hover,
button.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:focus {
  background-color: #fd4f1c !important;
}

.border-dashed {
  border-style: dashed !important;
  border-width: 2px !important;
}

.border-primary {
  border-color: #fd4f1c !important;
}

.bg-gray {
  background-color: #efefef !important;
}

.border-gray {
  border-color: #efefef !important;
}

.btn-small {
  color: #a7a7a7;
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  background-color: #f3f3f3;
  position: relative;
  display: inline-block;
  border: none;
}

.btn-small:hover {
  text-decoration: none;
}

.btn-small img {
  height: 0.9rem;
  margin-bottom: 0.2rem;
  filter: opacity(0.3);
}

.btn-primary {
  background-color: #fd4f1c;
  border-color: #fd4f1c;
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #d33e10;
  border-color: #d33e10;
  color: white;
}

.btn-gray {
  background: #efefef;
  color: #8e8e8e;
}

.btn-gray:hover,
.btn-gray:focus .btn-gray:not(:disabled):not(.disabled):active {
  text-decoration: none;
  background: #d8d8d8;
  color: #8e8e8e;
}

.btn-ghost-dark-outline {
  color: hsla(0deg 0% 100% / 50%);
  border: 2px solid #666;
  &:hover {
    background-color: hsla(0deg 0% 100% / 70%);
    border: 2px solid #aaa;
  }
}

.btn-ghost-dark {
  background-color: hsla(0deg 0% 100% / 42%);
  border: none;
  color: black;
  &:hover {
    background-color: hsla(0deg 0% 100% / 70%);
  }
}

.btn-ghost-dark-no-bg {
  background-color: none;
  color: white;
  border: none;
  &:hover {
    background-color: hsla(0deg 0% 100% / 70%);
  }
}

.btn-medium {
  display: inline-block;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

.input-group-ghost-dark {
  .input-ghost-dark {
    background: hsla(0deg 0% 100% / 10%);
    border-radius: 0.25rem;
    border: none;
    color: hsla(0deg 0% 100% / 90%);
    height: 40px;
    &::placeholder {
      color: hsla(0deg 0% 100% / 40%);
    }
  }
}

.article {
  list-style: none;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  overflow: hidden;
}

.article-title {
  border-bottom: 1px solid #ececec;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #fd4f1c;
}

.article-list-item .article-body {
  font-size: 1rem;
}

.article-list-item.collapsed .article-body {
  max-height: 10rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.article-list-item a {
  color: inherit;
}

.article-list-item a:hover {
  color: inherit;
  text-decoration: none;
}

.article-body img {
  display: none;
}

.btn-default {
  background: #cecece;
  color: white;
}

.btn-default:hover {
  background: #fd4f1c;
  color: white;
}

.list-group-item.active {
  background-color: #fd4f1c;
  border-color: #fd4f1c;
}

.list-group-item.active:hover {
  color: white;
}

.foreground {
  z-index: 2;
  position: relative;
}

.img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coupon-code {
  background-color: white;
  font-size: 1.2em;
  color: #fd4f1c;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.study-sheet-table {
  position: relative;
}
.study-sheet-td-translation,
.study-sheet-td-text {
  min-width: 20vw;
}

.show-pinyin .study-sheet-table .word-block .word-block-pinyin,
.show-simplified .study-sheet-table .word-block .word-block-simplified,
.show-traditional .study-sheet-table .word-block .word-block-traditional,
.show-definition .study-sheet-table .word-block .word-block-definition {
  display: inline;
}

.add-pinyin .study-sheet-table .word-block .word-block-text {
  display: inline;
}

.study-sheet-td-translation {
  padding: 4px;
  vertical-align: top;
  padding-right: 21px;
  color: #8fa9c1;
  line-height: 14px;
}

.study-sheet-table .study-sheet-td-text {
  padding: 8px;
  vertical-align: top;
  padding-right: 21px;
  line-height: 1.5;
}

.study-sheet-table .study-sheet-td-text span {
  color: black !important;
}

.study-sheet-td-definition {
  padding: 4px;
  vertical-align: top;
  line-height: 14px;
}

.study-sheet-table .study-sheet-td-definition span {
  color: #757171 !important;
}

.study-sheet-td-translation span {
  font-size: 8px;
  font-family: "Adobe Text Pro", serif;
}

.study-sheet-td-text span {
  font-size: 11px;
  font-family: "Adobe Text Pro", serif;
}

.l2-zh .study-sheet-td-text span {
  font-family: "Source Han Serif SC", serif;
}

.study-sheet-td-definition span {
  font-size: 8px;
}

.l1-zh .study-sheet-td-definition span {
  font-family: "Source Han Serif SC", serif;
}

.l2-zh .study-sheet-td-definition span {
  font-family: "Adobe Text Pro", serif;
}

.study-sheet-td-definition span .word-block-dictionary-simplified {
  font-family: "Adobe Text Pro", serif;
}

.l2-zh .study-sheet-td-definition span .word-block-dictionary-simplified {
  font-family: "Source Han Serif SC", serif;
}

.study-sheet-td-definition span .word-block-dictionary-phonetic {
  font-family: "gentium plus";
}

/* for the text column */
.show-level-1 .study-sheet-table [data-hover-level="1"].sticky:not(.seen) span,
.show-level-2 .study-sheet-table [data-hover-level="2"].sticky:not(.seen) span,
.show-level-3 .study-sheet-table [data-hover-level="3"].sticky:not(.seen) span,
.show-level-4 .study-sheet-table [data-hover-level="4"].sticky:not(.seen) span,
.show-level-5 .study-sheet-table [data-hover-level="5"].sticky:not(.seen) span,
.show-level-6 .study-sheet-table [data-hover-level="6"].sticky:not(.seen) span,
.show-level-outside .study-sheet-table [data-hover-level="outside"].sticky:not(.seen):not(.common) span {
  color: #b74900 !important;
}

/* for the definition column */
.show-level-1 .study-sheet-table [data-level="1"]:not(.seen),
.show-level-2 .study-sheet-table [data-level="2"]:not(.seen),
.show-level-3 .study-sheet-table [data-level="3"]:not(.seen),
.show-level-4 .study-sheet-table [data-level="4"]:not(.seen),
.show-level-5 .study-sheet-table [data-level="5"]:not(.seen),
.show-level-6 .study-sheet-table [data-level="6"]:not(.seen),
.show-level-outside .study-sheet-table [data-level="outside"]:not(.seen):not(.common) {
  color: #b74900 !important;
}

/* for the text column */
.show-level-1 .study-sheet-table [data-hover-level="PreA1"].sticky:not(.seen),
.show-level-1 .study-sheet-table [data-hover-level="Pre-A1"].sticky:not(.seen),
.show-level-2 .study-sheet-table [data-hover-level="A1"].sticky:not(.seen),
.show-level-3 .study-sheet-table [data-hover-level="A2"].sticky:not(.seen),
.show-level-4 .study-sheet-table [data-hover-level="B1"].sticky:not(.seen),
.show-level-5 .study-sheet-table [data-hover-level="B2"].sticky:not(.seen),
.show-level-6 .study-sheet-table [data-hover-level="C1"].sticky:not(.seen),
.show-level-outside .study-sheet-table [data-hover-level="C2"].sticky:not(.seen):not(.common) {
  color: #b74900 !important;
}

/* for the definition column */
.show-level-1 .study-sheet-table [data-level="PreA1"]:not(.seen),
.show-level-1 .study-sheet-table [data-level="Pre-A1"]:not(.seen),
.show-level-2 .study-sheet-table [data-level="A1"]:not(.seen),
.show-level-3 .study-sheet-table [data-level="A2"]:not(.seen),
.show-level-4 .study-sheet-table [data-level="B1"]:not(.seen),
.show-level-5 .study-sheet-table [data-level="B2"]:not(.seen),
.show-level-6 .study-sheet-table [data-level="C1"]:not(.seen),
.show-level-outside .study-sheet-table [data-level="C2"]:not(.seen):not(.common):not(.low-rank) {
  color: #b74900 !important;
}

.word-square {
  padding: 4px;
  font-size: 10px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  line-height: 10px;
  text-align: center;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-weight: bold;
}

.tabs {
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  a svg,
  a i {
    margin-right: 0.5rem;
  }
}

.tab {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  display: inline-block;
  margin-right: 0.2rem;
  border: none;
}

.zerotohero-wide {
  .content-panes {
    display: flex;
    flex-wrap: nowrap;
    .content-pane-left {
      width: 21rem;
      background: #ffffffdd;
      backdrop-filter: blur(20px);
      height: 100vh;
      position: sticky;
      top: 0;
    }
    .content-pane-right {
      background: white;
      padding: 0 1rem;
      width: 100%;
      overflow: hidden;
    }
  }
}

.play-button-wrapper {
  .play-button {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transform: scale(1.5);
    z-index: 1;
  }
  &:hover .play-button {
    color: rgba(255, 255, 255, 0.616);
    transform: scale(1.8);
    transition: 200ms ease-in-out;
  }
}

.home-card {
  background-color: hsla(0deg 100% 100% / 0.7);
  border: 1px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(68, 75, 134, 0.2);
  height: 100%;
  color: #444;
  ::v-deep .language-list .language-list-item a {
    color: #000000cc !important;
  }
}

.main {
  background: white;
}

.zerotohero-wide {
  .main {
    padding: 0 3rem;
  }
}

.main-dark {
  background-color: hsl(0deg 0% 0% / 72%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: hsla(0deg 100% 100% / 0.8);
  &.main-dark-performant {
    background-color: black;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

.search-subs,
.compare-search-subs {
  .playlist-dropdown {
    .dropdown-menu {
      margin-top: 2.2rem;
      height: calc(100vh - 3rem);
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      overflow: scroll;
      .current {
        .dropdown-item {
          background: #f3f3f3;
        }
      }
      .dropdown-item {
        max-width: 98vw;
        white-space: normal;
        padding: 0.25rem 1rem;
        color: #666;
        &:hover {
          background-color: #f3f3f3;
          cursor: pointer;
        }
      }

      .hit-thumb {
        width: calc(0.2rem * 16);
        height: calc(0.2rem * 9);
        object-fit: cover;
        margin-right: 1rem;
      }
    }
  }
}

.bg-gradient-0 {
  background-color: #faaca8;
  background-image: linear-gradient(45deg, #faaca8 0%, #ddd6f3 100%);
}

.bg-gradient-1 {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.bg-gradient-2 {
  background-color: #0093e9;
  background-image: linear-gradient(43deg, #0093e9 0%, #80d0c7 100%);
}
.bg-gradient-3 {
  background-color: #0093e9;
  background-image: linear-gradient(43deg, #0093e9 0%, #80d0c7 100%);
}
.bg-gradient-4 {
  background-color: #0093e9;
  background-image: linear-gradient(43deg, #0093e9 0%, #80d0c7 100%);
}
.bg-gradient-5 {
  background-color: #0093e9;
  background-image: linear-gradient(43deg, #0093e9 0%, #80d0c7 100%);
}
.bg-gradient-6 {
  background-color: #ffe53b;
  background-image: linear-gradient(43deg, #ffe53b 0%, #ff2525 74%);
}
.bg-gradient-7 {
  background-color: #fbda61;
  background-image: linear-gradient(43deg, #fbda61 0%, #ff5acd 100%);
}
.bg-gradient-8 {
  background-color: #fbda61;
  background-image: linear-gradient(43deg, #fbda61 0%, #ff5acd 100%);
}
.bg-gradient-9 {
  background-color: #faaca8;
  background-image: linear-gradient(45deg, #faaca8 0%, #ddd6f3 100%);
}

.admin-remove-button {
  background: none;
  border: none;
  padding: 0;
  color: #88888855;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  &:hover {
    background: none;
    color: #88888877;
  }
}
