
@import "~@/assets/scss/variables.scss";
.zerotohero-electron {
  .site-top-bar {
    padding-top: 1.5rem; // For electron
  }
}

.flag-icon {
  position: relative;
  bottom: 0.1rem;
}

.zerotohero-wide {
  .site-top-bar {
    left: 13rem;
  }
  &.zerotohero-wide-collapsed {
    .site-top-bar {
      left: 5rem;
      width: calc(100% - 5rem);
    }
  }
  &:not(.zerotohero-with-nav) {
    .site-top-bar {
      left: 0;
      width: 100%;
    }
  }
}

.logo {
  height: 1.3rem;
  border-radius: 100%;
  &.logo-absolute-centered {
    position: absolute;
    left: calc(50% - 4.5rem);
    top: calc(0.25rem + env(safe-area-inset-top));
  }
  span {
    font-size: 0.9rem !important;
  }
}

.site-top-bar-language-flag {
  transform: scale(0.7);
  margin-right: -0.5rem;
  margin-bottom: -0.3rem;
}

.language-flag-triangle {
  position: relative;
  bottom: 0.2rem;
  opacity: 0.7
}